body {
  margin: 0;
  padding: 0;
}

.rouge-script-regular {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}


#main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

#content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nome {
  font-size: 64px;
  text-align: center;
  margin-bottom: 20px;
}

#email {
  color: #8f6619;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  /* text-decoration: none; */
}
